
<form class="tg-formtheme tg-formsearch" asp-action="Search" asp-controller="Products">
    <fieldset>
        <input type="text" name="searchString" class="typeahead form-control" placeholder="Search by title">
        <button type="submit"><i class="icon-magnifier"></i></button>
    </fieldset>
</form>