@model IEnumerable<BookStore2024.ViewModels.CategoriesMenuVM>

<li class="menu-item-has-children menu-item-has-mega-menu">
	<a href="javascript:void(0);">All Categories</a>
	<div class="mega-menu">
		<ul class="tg-themetabnav" role="tablist">
			@foreach(var categoryItem in Model)
			{
				<li role="presentation">
					<a href="#@categoryItem.CategoryId" aria-controls="@categoryItem.CategoryId" role="tab" data-toggle="tab">@categoryItem.CategoryName</a>
				</li>
			}
		</ul>
		<div class="tab-content tg-themetabcontent">
			@foreach (var categoryItem in Model)
			{
				<div role="tabpanel" class="tab-pane" id=@categoryItem.CategoryId>
					@await Component.InvokeAsync("GenreMenu", @categoryItem.CategoryId)
					<ul>
						<li>
							<figure><img src="../images/img-01.png" alt="image description"></figure>
							<div class="tg-textbox">
								<h3>More Than<span>12,0657,53</span>Books Collection</h3>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
								</div>
								<a class="tg-btn" href="products.html">view all</a>
							</div>
						</li>
					</ul>
			</div>
			}
		</div>
	</div>
</li>