@model IEnumerable<BookStore2024.ViewModels.GenreVM>
@if (Model.Any())
{
	<ul>
		@foreach(var item in Model)
		{
			<li>
				<div class="tg-linkstitle">
					<h2>@item.GenreName</h2>
				</div>
				<ul>
					@await Component.InvokeAsync("ProductsInMegaMenu", new { GenreID = item.GenreId, CateID = ViewBag.cateID})
				</ul>
				<a class="tg-btnviewall" asp-controller="Products" asp-action="Index" asp-route-category="@ViewBag.cateID" asp-route-genre="@item.GenreId">View All</a>
			</li>
		}
		
	</ul>
}
