@model IEnumerable<BookStore2024.ViewModels.ProductVM>

<ul>
	<li>
		<div class="tg-linkstitle">
			<h2>History</h2>
		</div>
		<ul>
			<li><a href="products.html">Veniam quis nostrud</a></li>
			<li><a href="products.html">Exercitation</a></li>
			<li><a href="products.html">Laboris nisi ut aliuip</a></li>
			<li><a href="products.html">Commodo conseat</a></li>
			<li><a href="products.html">Duis aute irure</a></li>
		</ul>
		<a class="tg-btnviewall" href="products.html">View All</a>
	</li>
	<li>
		<div class="tg-linkstitle">
			<h2>Architecture</h2>
		</div>
		<ul>
			<li><a href="products.html">Tough As Nails</a></li>
			<li><a href="products.html">Pro Grease Monkey</a></li>
			<li><a href="products.html">Building Memories</a></li>
			<li><a href="products.html">Bulldozer Boyz</a></li>
			<li><a href="products.html">Build Or Leave On Us</a></li>
		</ul>
		<a class="tg-btnviewall" href="products.html">View All</a>
	</li>
	<li>
		<div class="tg-linkstitle">
			<h2>Art Forms</h2>
		</div>
		<ul>
			<li><a href="products.html">Consectetur adipisicing</a></li>
			<li><a href="products.html">Aelit sed do eiusmod</a></li>
			<li><a href="products.html">Tempor incididunt labore</a></li>
			<li><a href="products.html">Dolore magna aliqua</a></li>
			<li><a href="products.html">Ut enim ad minim</a></li>
		</ul>
		<a class="tg-btnviewall" href="products.html">View All</a>
	</li>
</ul>