@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>


<main id="main" class="main">
    <div class="pagetitle">
        <h1>@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <h1>Add a new book</h1>
            
            <div class="card">
                <form>
                    <div class="row mb-3 mt-4">
                        <label for="ProductImg" class="col-md-3 col-lg-2 col-form-label">File Upload</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="ProductImg" type="file" class="form-control" id="ProductImg" placeholder="Profile image">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="ProductName" class="col-md-3 col-lg-2 col-form-label">ProductName</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="ProductName" type="text" class="form-control" id="ProductName">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="ProductDescription" class="col-md-3 col-lg-2 col-form-label">Product Description</label>
                        <div class="col-md-9 col-lg-10">
                            <textarea name="ProductDescription" class="form-control" id="ProductDescription" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="CategoryName" class="col-md-3 col-lg-2 col-form-label">Category</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="CategoryName" list="CategoryName" class="form-control">
                            <datalist id="CategoryName">
                                <option value="Internet Explorer" />
                                <option value="Firefox" />
                                <option value="Chrome" />
                                <option value="Opera" />
                                <option value="Safari" />
                            </datalist>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="GenreName" class="col-md-3 col-lg-2 col-form-label">Genre</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="GenreName" list="GenreName" class="form-control">
                            <datalist id="GenreName">
                                <option value="Internet Explorer" />
                                <option value="Firefox" />
                                <option value="Chrome" />
                                <option value="Opera" />
                                <option value="Safari" />
                            </datalist>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Price" class="col-md-3 col-lg-2 col-form-label">Price</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Price" type="number" class="form-control" id="Price">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Price" class="col-md-3 col-lg-2 col-form-label">Discount</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Discount" type="number" class="form-control" id="Discount">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Publisher" class="col-md-3 col-lg-2 col-form-label">Publisher</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Publisher" type="text" class="form-control" id="Publisher">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="AuthorName" class="col-md-3 col-lg-2 col-form-label">Author Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="AuthorName" type="text" class="form-control" id="AuthorName">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Language" class="col-md-3 col-lg-2 col-form-label">Language</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Language" type="text" class="form-control" id="Language">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Pages" class="col-md-3 col-lg-2 col-form-label">Pages</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Pages" type="number" class="form-control" id="Pages">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="IllustrationsNote" class="col-md-3 col-lg-2 col-form-label">IllustrationsNote</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="IllustrationsNote" type="text" class="form-control" id="IllustrationsNote">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Isbn10" class="col-md-3 col-lg-2 col-form-label">Isbn10</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Isbn10" type="text" class="form-control" id="Isbn10">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Isbn13" class="col-md-3 col-lg-2 col-form-label">Isbn13</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="Isbn13" type="text" class="form-control" id="Isbn13">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="StockQuantity" class="col-md-3 col-lg-2 col-form-label">Stock Quantity</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="StockQuantity" type="number" class="form-control" id="StockQuantity">
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>