@{
    Layout = "_MainLayout";
}

    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../images/parallax/bgparallax-07.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>All Products</h1>
                        <ol class="tg-breadcrumb">
                            <li><a href="javascript:void(0);">home</a></li>
                            <li class="tg-active">Cart</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Products</th>
                            <th style="width: 50%;">Name</th>
                            <th style="width: 10%;">Price</th>
                            <th style="width: 10%;">Quantity</th>
                            <th style="width: 10%;">Total</th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="img/vegetable-item-3.png" class="img-responsive" style="width: 80px; height: 80px;" alt="">
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="mt-4" style="margin-left: 20px;">Big Banana</p>
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="mt-4">2.99 $</p>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="input-group mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" style="border-radius: 50% !important;">-</button>
                                    </div>
                                    <input type="text" class="form-control input-sm text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border" style="border-radius: 50% !important;">+</button>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="mt-4">2.99 $</p>
                            </td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-danger btn-sm mt-4">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
            <div class="bg-info text-center" style="padding: 10px;">
                <h2 style="margin: 0;">Cart Total</h2>
            </div>
            <div class="well" style="margin-top: 10px; padding: 10px;">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3 style="margin: 0;">Subtotal:</h3>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p style="margin: 0;">$96.00</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3 style="margin: 0;">Shipping</h3>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p style="margin: 0;">Flat rate: $3.00</p>
                    </div>
                </div>
                <p class="text-right" style="margin: 0;">Shipping to Ukraine.</p>
            </div>
            <div class="text-center" style="margin-top: 10px;">
                <h2 style="margin: 0;">Total: $99.00</h2>
                <button type="button" class="btn btn-primary btn-lg" style="margin-top: 10px;">Proceed Checkout</button>
            </div>
        </div>
    </div>
</div>

@section externalScripts {
    <script>
    </script>
}